# Books
- Michael Vincent
- 9/15

## Imports

In [1]:
# Imports
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

## Setup the database

In [2]:
# Setup the database

# Install mysql
pymysql.install_as_MySQLdb

# Connection string
connection = 'mysql+pymysql://root:***@localhost/books'

# Create the engine
engine = create_engine(connection)

# Create the database
try:
  create_database(connection)
except:
  print('Database already exits.')

# Verify the database exists
database_exists(connection)

Database already exits.

True

## ERD

![png](books.png)

## Add the tables to the database

In [6]:
# Add the users 

# Load the csv
users = pd.read_csv('data/users.csv')

# Add the table to the database
users.to_sql('users', engine, if_exists = 'replace')

3

In [8]:
# Add the books

# Load the csv
books = pd.read_csv('data/books.csv')

# Add the table to the database
books.to_sql('books', engine, if_exists = 'replace')

6

In [10]:
# Add the authors

# Load the csv
authors = pd.read_csv('data/authors.csv')

# Add the table to the database
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [11]:
# Add the favorites

# Load the csv
favorites = pd.read_csv('data/favorites.csv')

# Add the table to the database
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

## Test the database

In [13]:
# Make sure we added all the tables
q = """
SHOW TABLES
"""

pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [18]:
# Find John Doe's favorite books
q = """
SELECT b.title, f.user_id
FROM books as b
JOIN favorites as f
ON b.id = f.book_id
WHERE f.user_id = 
  (SELECT users.id 
   FROM users 
   WHERE users.first_name = "John" 
   AND users.last_name = "Doe")
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1